#card{
  position:relative;
  margin:30px auto;
  width:450px;
  height:690px;
  border:2px solid rgb(92, 84, 5);
  border-radius: 4%;
}

#image{
  position:absolute;
  background-image: url(images/imgonline-com-ua-resize-9gfbnrwmp0cjlebd.webp);
  width:450px;
  height:290px;
  border-radius: 5%;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
}

#ion-icon {
  color:white;
  font-size:20px;
  margin-right: 5px;
  

}
#display{
  width:430px;
  height:120px;
}

#balance{
  margin:30px 10px 0px;
  padding:5px;
}

#btnwithdraw,#btntopUp,#btnbalance,#btnhistory{
  display:inline-flex;
  justify-content: center;
  align-items: center; 
  border-radius:10px;
  border:2px solid rgba(162, 138, 5, 0.929);
  margin-top:200px;
  color:white;
  padding:5px;
  margin-right:10px;
  background-color: rgb(92, 84, 5);
}

#btntopUp:hover{
  padding:7px;
}

#btnbalance:hover{
 padding:7px;
}

#btnwithdraw:hover{
  padding:7px;
}

#display-text, h3{
  font-size:35px;
  font-weight:bold;
  margin:90px 130px;
  color:white;
}
span{
  font-size:13px;
}

li{
  list-style:none;
}

.red {
  color: red;
}

.green {
  color: green;
}